/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.link {
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.link:hover {
  opacity: .5;
}
.sort_desc::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sort_desc:hover::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.catalog__sorting-link:hover,.catalog__sorting-link.catalog__sorting-link_active{
    color: #F9AA00;
    opacity: 1;
}